/* General Styles*/

img { border: none; }
a { outline: none; }
body { margin: 0; }

/* highlight Styles */


#highlight { width: 550px; height: 256px; background: url(../Layouts/images/img/loading.gif) center center no-repeat; 
             font-family: Vendana, Helvetica, sans-serif; top:20px; left: 100px; width:0px; height:700px; position:relative;}
#highlight img { border: none; position: absolute; filter: alpha(opacity=0); opacity: 0; -moz-opacity:0; height:250px; width:819px;}
#highlight .navegationbg { width: 819px;  margin-top: 240px; position: absolute; z-index: 5; 
                           background: url(../Layouts/images/img/bg.gif) repeat-x; height: 50px; 
                           filter: alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; }
#highlight #navegation { width: 830px; margin-top: 245px; position: absolute; z-index: 6; 
                         border-top: solid 1px #535353; height: 50px; }
#highlight #navegation p { margin: 0px; width: 137px; _width: 131px; float: left; height: 48px; font-size: 0.6em; 
                           line-height: 1.3em; color: white; 
                           background: url(../Layouts/images/img/border.gif) repeat-y top right; line-height: 1.5em; }
#highlight #navegation p.withoutborder { background: none; }
#highlight #navegation p.selected { background: url(../Layouts/images/img/bg-selected.gif); }
#highlight #navegation span { font-size: 1.8em; }
#highlight #navegation p a {   color: white; text-decoration: none; padding: 10px 0 0 10px; _padding: 5px 0 0 5px; 
                             display: block; height: 48px; width: 137px; _width: 131px; }


