
body {padding:10px; background-color:#f8f8f8; text-align:left; color:#666;}
ol {list-style-type: decimal;}
body{ font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small; color:#336699 }
table {font-size:inherit;font:100%;}
