<?xml version="1.0" encoding="utf-8"?>


<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <!--<assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>-->
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit"
            assembly="AjaxControlToolkit"
            namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<customErrors mode="On" />-->
    <!--<customErrors mode="Off" />-->
    <!--<customErrors defaultRedirect="Login.aspx"
                 mode="RemoteOnly">
      <error statusCode="500"
             redirect="Login.aspx"/>
    </customErrors>-->
    <customErrors defaultRedirect="UserLogin.aspx"
        mode="RemoteOnly">
          <error statusCode="500" redirect="UserLogin.aspx"/>
        </customErrors>
    <!--errores-->
    <sessionState timeout="30">
    </sessionState>
    
    <authentication mode="Forms">
      <forms  timeout="10" slidingExpiration="true" />
    </authentication>
  </system.web>

  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="Email_From" value="soludin@skytex.com.mx" />
    <add key="Email_CCO" value="ricardo.garcia@skytex.com.mx" />
    <add key="Email_Subject" value="Recuperación de Contraseña" />
    <!--<add key="Email_SMTP" value="192.168.18.213" />-->

    <add key="Email_SMTP" value="outlook.skytex.com.mx" /> 
    <!--<add key="Email_SMTP" value="192.168.18.12" />-->
    <!--<add key="Email_SMTP" value="192.168.18.14" />-->
    <!--<add key="Email_SMTP" value="outlook.skytex.com.mx" />-->
    <!--<add key="Email_SMTP" value="outlook" />-->
    <add key="Email_User" value="soludin" /> 
    <add key="Email_Psswd" value="pluma" />
    <add key="time" value="900" />
  </appSettings>
  <connectionStrings>
    <add name="developConnectionString" connectionString="Data Source=SQL;Initial Catalog=skytex;User ID=soludin_develop;Password=dinamico20" providerName="System.Data.SqlClient" />
    <!--<add name="developConnectionString" connectionString="Data Source=skyhdev3;Initial Catalog=develop;User ID=soludin_develop;Password=dinamico20" providerName="System.Data.SqlClient" />-->
    <!--<add name="developConnectionString" connectionString="Data Source=192.168.18.96;Initial Catalog=skytex;User ID=soludin_develop;Password=dinamico20" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <!--<add value="Login.aspx" />-->
      <add value="UserLogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>