

#menuFc {
    height: 20px; width: 950px;
}

#button12 li {
	display:block;
}
#button12 li a 
{
	display:block;
	font-size: 1.1em;
	text-decoration: none;
	float:none;
	color: #fff;
	padding: 0 120px 0 150px; 
	text-align:center;
}
#button12 li a:hover {
	background-color: #2586d7;
}


ul.tabs li
{
	/*border: 0px solid #999;
    float: left;
	padding: 0px;
	height: 31px; /*--Sustrae 1px de la altura de la lista desordenada--*/
	/*line-height: 31px; /*--Alineamiento vertical del texto dentro de la tabla--*/
	/*overflow: hidden;
	position: relative;
	background-color: #336699;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 47%;*/
    
     /*GCM 06012015*/
	border: 0px solid #999;
    float: right;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0px;
	padding: 0px;
	height: 31px; 
	line-height: 31px; 
	overflow: hidden;
	position: relative;
	background-color: #f2f2f2;  
}

#button li {
	display:block;
}
#button li a 
{

	/*color: #fff;*/

	display: block; 
	font-size: 1.1em;
	text-decoration: none;
	float: none;
	color: #336699;
	text-align: center;
	border-left-style: solid;
	 
}
#button li a:hover {
	/*background-color: #2586d7;*/
	color: #857E7E !important; /*GCM 06012015*/
}

/*
#button li {
	display:block;
}
#button li a 
{
	display:block;
	font-size: 1.1em;
	text-decoration: none;
	float:none;
	color: #fff;*/
	/*padding: 0 65px 0 20px; */
	/*padding: 0 80px 0 10px; */
	/*text-align:center;
}
#button li a:hover {
	background-color: #2586d7;
}*/
#button #boton1{background-color: #2586d7;}
#button #boton2{background-color: #2586d7;}
#button #boton3{background-color: #2586d7;}

#butt2 li {
	display:block;
}
#butt2 li a 
{
	display:block;
	font-size: 1.1em;
	text-decoration: none;
	float:none;
	color: #fff;
	padding: 0 65px 0 20px; 
	text-align:center;
}
#butt2 li a:hover {
	background-color: #2586d7;
}


/*
termina menu nuevo
*/


ul.tabs3 li
{
	/*border: 0px solid #999;
    float: left;
	padding: 0px;
	height: 31px; 
	line-height: 31px; 
	overflow: hidden;
	position: relative;
	background-color: #336699;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;*/

    /*GCM 06012015*/
	border: 0px solid #999;
    float: right;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
	padding: 0px;
	height: 31px; 
	line-height: 31px; 
	overflow: hidden;
	position: relative;
	background-color: #f2f2f2;    
    
    /*width: 32%;*/
}



#button3 li {
	display:block;
}
#button3 li a 
{

	/*color: #fff;*/

	display: block; 
	font-size: 1.1em;
	text-decoration: none;
	float: none;
	color: #336699;
	text-align: center;
	border-left-style: solid;
	 
}
#button3 li a:hover {
	/*background-color: #2586d7;*/
	color: #857E7E !important; /*GCM 06012015*/
}



.Ligth {
    /*background-color: #2586d7; */
    color: #857E7E !important; /*GCM 06012015*/   
 }

 #btnGrande {
    padding: 0px 400px 0 100px;
    background-color: #2586d7;
}

 #btnGrande2 {
    padding: 0px 400px 0 100px;
    background-color: #336699;
}

#btnChico1a
{
    padding: 0 80px 0 100px; 
    background-color: #336699;
}
#btnChico1a1 
{
    padding: 0 80px 0 100px; 
    background-color: #2586d7;
}

#btnChico2a
{
    padding: 0 80px 0 100px; 
    background-color: #336699;
}

#btnChico2a2 
{
     padding: 0 80px 0 100px; 
     background-color: #2586d7;
}


#div-Close
{
	/*float:right;
top: 0;*/
    text-align:right;
	width: 900px;
    
}


/*------inicia el formato de la pagina-------*/

#main_container
{
	width: 950px;
	height: 200px;
	margin: auto;
	background: none;
	font-size: 12px;
	color: #042254;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body
{
    background: url('../Layouts/images/fondos/fondo_azul_linea.jpg') repeat;
    /*background: url('../Layouts/images/fondos/fondo_azul_oscuro.jpg') repeat;*/
	/*background: url('../Layouts/images/fondos/fondo_azul_marino.jpg') repeat;*/
	/*background: url('../Layouts/images/fondos/Shades_of_blue.png') repeat;*/
	/*background:#333a61;*/
}

.input
{
	width: 140px;
	height: 15px;
	font-size: 12px;
	color: #666666;
}

p
{
	clear: both;
	width: auto;
	color: #042254;
	padding: 0px;
	text-align: justify;
}

img.pic
{
	float: left;
	padding: 10px;
	margin: 10px 0 10px 0;
	border: 1px #CCCCCC solid;
}

.title
{
	color: #042254;
	font-size: 18px;
	padding: 15px 10px 5px 40px;
	border-bottom: 1px #CCCCCC /*dashed*/;
	margin-top: 10px;
	text-decoration: none;
	line-height: 15px;
}

.more
{
	clear: both;
	padding: 2px;
}

#top_banner
{
	width: 950px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

#logo
{
	width: auto;
	float: left;
}

#center_content
{
	/*clear: both;*/
	width: 950px;
	height: auto;
	background-color: #F2F2F2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*-------------foooter*/
#footer
{
	text-align: center;
	width: 850px;
	text-decoration: none;
	color: #f2eaea;
	height: 80px;
}


/*-------------foooter*/
#footer1
{
	text-align: center;
	width: 500px;
	text-decoration: none;
	color: #f2eaea;
	float: left;
	padding: 250px; 
	display:block;
    margin-right: 0px;
}

/*titulo para nombre de proveedor con cc_cve */
.titulo
{
	font-size: 18px;
	color: #336699;
	font-weight: bold;
	text-align: right;
}



/*Formato de los grids*/

.mGrid {  border: solid  #336699;}
    .mGrid td { padding: 2px; border: solid; color: #336699; border-width: medium  }
    .mGrid th { padding: 4px 2px;  background: #336699 ; border: solid 1px #336699; }

.mGrid2 {  border: solid  #336699;  font-size:xx-small; border-collapse: collapse;  }
    .mGrid2 td { padding: 2px; border: solid; color: #336699; border-width: medium  }
    .mGrid2 th { color: White; font-weight: bold; height: 30px; background: #336699}


.mGrid3 {  border: solid  #336699;   border-collapse: collapse;  font-size:X-Small}
    .mGrid3 td { padding: 2px; border: solid; color: #336699; border-width: medium  }
    .mGrid3 th { color: White;  height: 30px;background: #336699;text-align: left; white-space:nowrap; border: solid 1px #336699; font-size:X-Small}
/*font-size:small;*/

    /*font-size: XX-Small; cellspacing="0"; align="Center" rules="all" border="1"*/
    
    
    
    

.Aviso
{
    font-size: 13px; 
    border: 0px;
  
	margin-left: 40px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top:10px;
	
}    


.ImagenAv
{
    
    /**/
	/*width: 800px;
	height: 850px;*/
	margin-left: 60px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-top:90px;
}



#lblUsr {
 margin-left: 40px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top:5px;
}




 .btnCommand
     {
         display: inline-block;
         /*padding: 10px 20px;*/
         margin-bottom: 0;
         /*font-size: 12px;*/
         line-height: 1;
         text-align: center;
         vertical-align: middle;
         cursor: pointer;
         /*background:#34495e;*/
         background:#848484;
         border: none;
         color: #ffffff;
         padding: 10px 20px;
         margin-right:5px
     }
     
     .btnCommand:hover, .btnCommand:focus {
         /*background: #4e6d8d;*/
         background: #2586d7;
         /*font-weight:bold;*/
         color: #ffffff;
     }





.styled-select 
{
    /*
   background: transparent;
   width: 268px;
   padding: 5px;*/
   /*font-size: 9px;*/
  /* line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;*/
   }
   